.explore_text {
    width: 150px !important;
}

.horizontal_cover {
    position: relative;
     width: 100%;
    height: 200px;
}

.vertical_cover {
    position: relative;
    width:100%;
    height:100%;
}

.carousel_image {
    position: relative;
    width: 100%;
    height: 400px;
  }
  
.carousel_image img {
    object-fit: cover;
  }

@media screen and (max-width:767px) {
    .vertical_cover {
        width: 50%;
        height: 270px;
    }
    .carousel_image {
        position: relative;
        width: 100%;
        height: 250px;
      }
    
}
.horizontal_cover:hover  {
    opacity:0.9;
    cursor: pointer;
}
.vertical_cover:hover  {
    opacity:0.9;
    cursor: pointer;
}
.horizontal_cover:active  {
    opacity:0.5;
    cursor: pointer;
}
.vertical_cover:active  {
    opacity:0.5;
    cursor: pointer;
}


